.main-content table td{ padding:0px; }
.main-content table th{ padding:0px; }
.main-content table { display:table; }

@media screen and (max-width: 42em) {
.btn {
    width: 50%;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0em;
    margin-bottom: 0.4em;    
}

.project-tagline {
    margin-bottom: 1em;    
}}

@media screen and (max-width: 42em) {
.btn+.btn {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0em;
    margin-bottom: 0.4em;    
}}

img {
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5); 
}
