.main-content table td { padding:0px; }
.main-content table th { padding:0px; }
.main-content table { display:table; }

@media screen and (max-width: 42em) {
.btn {
    width: 50%;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0em;
    margin-bottom: 0.8em;    
    font-size: 1.5rem;
}

.project-tagline {
    margin-bottom: 1em;    
}}

@media screen and (max-width: 42em) {
.btn+.btn {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0em;
    margin-bottom: 0.8em;    
    font-size: 1.5rem;
}}

.note {
  padding:1em;
  background-color:#eaef652b;
  border-radius: 0.5em;
  font-size:.9em
}

.youtube-container{
  position: relative;
  width: 100%;
  padding-bottom: 75%; 
  height: 0;
}
.youtube-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn.active
{
  border-color:white
}

ul {
  list-style:none;
}

li:before {
  content: '\2713';
  font-weight: bold;
  margin-left: -1em;
  margin-right: 0.5em;
  color: #159957;
}

.sidebar {
  width: 100%;
  background-color: #f1f1f1;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  float: left;
}
 
.sidebar a.active {
  background-color: #555;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #999;
  color: white;
}

.sidebar .main-content {
  padding-top: 0px;
  padding-bottom: 0px;
}

.page-header {
  padding: 1rem 1rem;
}

.image {
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5); 
}

.imageTextContainer {
  display: grid; 
  grid-template-rows: 1fr auto;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.imageTextItem {
  grid-row:1 / span 2; 
  grid-column:1;
}

.imageTextItemText {
  grid-row:2; 
  grid-column:1; 
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  padding: 0.5rem;
}

/*
li:before {
  visibility: hidden;
}
*/

a, a:hover{
  text-decoration: none;
}


.bg-primary {
  background-color: #315173 !important
}

app-root .th {
  background-color: #768ea7;
}
