<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>WorkplaceX - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="icon" href="/assets/image/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <!-- flag-icon-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/css/flag-icon.min.css">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Framework css-->
    <link rel="stylesheet" href="https://demo.workplacex.org/frameworkStyle.css">
    
    <!-- Override css-->
    <link rel="stylesheet" href="/assets/css/styleOverride.css">

    <base href="/">
  </head>
  <body>

    <section class="page-header" style="background: url('/assets/image/background.jpg'); background-size:cover; border-bottom-style: solid; border-bottom-width:1px; border-bottom-color: black;">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

      <!-- Level1 Navigation -->
      {% for itemLevel1 in site.data.pageList.pageList %}
        {% if itemLevel1.url == page.url %} <!-- Selected page is Level1 -->
          {% for itemLevel12 in site.data.pageList.pageList %}
            <a href="{{ itemLevel12.url }}" class="btn{% if itemLevel12.url == page.url %} active{% endif %}">{{ itemLevel12.text }}</a>
          {% endfor %}
        {% endif %}
        {% for itemLevel2 in itemLevel1.pageList %}
          {% if itemLevel2.url == page.url %} <!-- Selected page is Level2 -->
            {% for itemLevel12 in site.data.pageList.pageList %}
              <a href="{{ itemLevel12.url }}" class="btn{% if itemLevel12.url == itemLevel1.url %} active{% endif %}">{{ itemLevel12.text }}</a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      
    </section>

    <div class="sidebar">
      <div class="main-content">

        <!-- Level2 Navigation -->
        {% for itemLevel1 in site.data.pageList.pageList %}
          {% if itemLevel1.url == page.url %} <!-- Selected page is Level1 -->
            {% for itemLevel2 in itemLevel1.pageList %}
              <a href="{{ itemLevel2.url }}">{{ itemLevel2.text }}</a>
            {% endfor %}
          {% endif %}
          {% for itemLevel2 in itemLevel1.pageList %}
            {% if itemLevel2.url == page.url %} <!-- Selected page is Level2 -->
              {% for itemLevel22 in itemLevel1.pageList %}
                <a href="{{ itemLevel22.url }}" class="{% if itemLevel22.url == page.url %}active{% endif %}">{{ itemLevel22.text }}</a>
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endfor %}

      </div>
    </div>

    <section class="main-content">
      {{ content }}

      <app-root></app-root>
    </section>
    
    <script>
      var jsonBrowser = {"EmbeddedUrl":"https://demo.workplacex.org/"};
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    
    <script src="https://demo.workplacex.org/runtime-es2015.js" type="module"></script>
    <script src="https://demo.workplacex.org/runtime-es5.js" nomodule defer></script>
    <script src="https://demo.workplacex.org/polyfills-es5.js" nomodule defer></script>
    <script src="https://demo.workplacex.org/polyfills-es2015.js" type="module"></script>
    <script src="https://demo.workplacex.org/main-es2015.js" type="module"></script>
    <script src="https://demo.workplacex.org/main-es5.js" nomodule defer></script>
    <script type="text/javascript" src="https://demo.workplacex.org/bundle.js"></script>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
